# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Ferramentas / IDE
.git/
.gitignore
.vscode/
.idea/

# Artefatos de treinamento que não são necessários para servir a API
data/*.png

# Sistema operacional
.DS_Store
Thumbs.db
